#sidebar-wrapper {
  max-height:80%;
}
#assetBrowser {
  margin-top:5px;  
  /* margin-top:25px; */
  /* padding-left: 20px; */
}
#array {
  /* background-color: */
}
div.well {
  width: 300px;
}
div#assetBrowser {
  overflow-x: hidden;
  padding-left: 25px;
}
label {
  display: block;
  /* margin-bottom: 5px; */
  margin-bottom: 0px;
  max-width:100%;
}
.nav-list>li>a,.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.active-toc-item{
  background-color:lightblue !important;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-transform: uppercase;
}
.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}
#navToc {
  float: none;
  margin: 0 0 10px
}

#navToc > li > a {
  color: #004773;
  font-weight: 300;
}

/* #navToc>li { */
/*     float: none; */
/*   } */

/* #navToc>li>a { */
/*     margin-bottom: 2px */
/* } */

#navToc .nav-header {
  text-shadow: none
}

#navToc>li>a {
  padding: 9px 15px;
  font-weight: bold;
  color: #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}


#navToc > a:hover, #navToc > a:focus {
  background-color: rgb(129, 158, 218) !important;
}

#navToc>li>a {
  color: #999
}

/* .divider { */
/*   height: 1px; */
/*   margin: 9px 1px; */
/*   overflow: hidden; */
/*   background-color: #e5e5e5; */
/*   border-bottom: 1px solid #fff; */
/*   border-bottom-width: 1px; */
/*   border-bottom-style: solid; */
/*   border-bottom-color: rgb(255, 255, 255); */
/* } */

#search {
  width:300px;
}

li.highlight-row > label {
  background-color: #004773 !important;
  color: #fff!important;
}
/* level 2 */
li.platform {
  width:300px;
  background-color: #fff;	
  /* border-bottom: 1px solid #FFF; */
  /* border-radius:5px; */
  color: #353840;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;	
  padding: 10px 0px;

}
/* level 3 */
li.instrument { 
  width:300px;
}



/* TOC */
ul#tocNav > li {
  height: 100%;
  /* background-color: #6080A1; */
  /* border-radius: 5px; */
}

ul#tocNav > li:after {
  /* bullets */
  content: "";
  width: 5px;
  height: 5px;
  background: #D1DAF5;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -18px; /*adjust manually*/
  top: 10px;
}


ul#tocNav > li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid #D1DAF5;
  height: 100%;
  width: 1px;
}

ul#tocNav > li > ul {
  border-bottom: 1px solid #FFF;
  border-radius:5px;
  padding-left: 40px;
}

/* 1 */
ul#array_CE >li {
  height: 100%;
}
ul#array_CE >li:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #7E9CD9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -18px; /*adjust manually*/
  top: 20px;

}
ul#array_CE >li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid #7E9CD9;;
  height: 100%;
  width: 1px;
}

/* /* instrument */ */
/* ul.instrument > li { */
/*  */
/* } */
/* ul.instrument > li:after { */
/*  content: ""; */
/*  	width: 5px; */
/* 	height: 5px; */
/* 	background: #7E9CD9; */
/* 	-moz-border-radius: 50px; */
/* 	-webkit-border-radius: 50px; */
/* 	border-radius: 50px; */
/*   position: absolute; */
/*   left: -18px; /*adjust manually*/ */
/*   top: 10px; */
/* } */
/* ul.instrument > li:before { */
/*   /* lines */ */
/*     content:""; */
/*     position: absolute; */
/*     left: -16px; /* adjust manually */ */
/*     border-left: 1px solid #7E9CD9;; */
/*     height: 100%; */
/*     width: 1px; */
/* } */





/* 2 */
ul.nav .nav-list .tree > li {
  height: 100%
}
ul.nav .nav-list .tree > li:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #004773;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -18px; /*adjust manually*/
  top: 10px;
}
ul.nav .nav-list .tree > li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid #004773;;
  height: 100%;
  width: 1px;
}





/* 3 */
ul.nav .nav-list .tree .instrumentStyle > li {
  height: 100%
}
ul.nav .nav-list .tree .instrumentStyle > li:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #F09349;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -18px; /*adjust manually*/
  top: 18px;
}
ul.nav .nav-list .tree .instrumentStyle > li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid #FFF;;
  height: 100%;
  width: 1px;
}



/* label.tree-toggler.nav-header.array:after { */
/*     content: ""; */
/*     width: 5px; */
/*     height: 5px; */
/*     background: #7E9CD9; */
/*     -moz-border-radius: 50px; */
/*     -webkit-border-radius: 50px; */
/*     border-radius: 50px; */
/*     position: absolute; */
/*     left: -18px; */
/*     top: 20px; */
/* } */
/* label.tree-toggler.nav-header.array:before { */
/*     /* lines */ */
/*     content:""; */
/*     position: absolute; */
/*     left: -16px; /* adjust manually */ */
/*     border-left: 1px solid #7E9CD9; */
/*     height: 100%; */
/*     width: 1px; */
/*  */
/* } */
/*  */
/* label.platform.tree-toggler.nav-header:after { */
/*   content: ""; */
/*  	width: 5px; */
/* 	height: 5px; */
/* 	background: #7E9CD9; */
/* 	-moz-border-radius: 50px; */
/* 	-webkit-border-radius: 50px; */
/* 	border-radius: 50px; */
/*   position: absolute; */
/*   left: -18px; /*adjust manually*/ */
/*   top: 20px; */
/* }  */
/* label.platform.tree-toggler.nav-header:before { */
/*    /* lines */ */
/*     content:""; */
/*     position: absolute; */
/*     left: -16px; /* adjust manually */ */
/*     border-left: 1px solid #7E9CD9;; */
/*     height: 100%; */
/*     width: 1px; */
/*  */
/* } */

/* label.instrument.tree-toggler.nav-header:after { */
/*   content: ""; */
/*  	width: 5px; */
/* 	height: 5px; */
/* 	background: #7E9CD9; */
/* 	-moz-border-radius: 50px; */
/* 	-webkit-border-radius: 50px; */
/* 	border-radius: 50px; */
/*   position: absolute; */
/*   left: -18px; /*adjust manually*/ */
/*   top: 20px; */
/*  */
/* } */
/* label.instrument.tree-toggler.nav-header:before { */
/*      /* lines */ */
/*     content:""; */
/*     position: absolute; */
/*     left: -16px; /* adjust manually */ */
/*     border-left: 1px solid #7E9CD9;; */
/*     height: 100%; */
/*     width: 1px; */
/*  */
/* } */


/* label.tree-toggler.nav-header.array:before { */
/*     content: " "; */
/*     display: inline-block; */
/*     position: relative; */
/*     background: transparent url("/img/line-stop.jpg"); */
/*     margin-top: 0px; */
/*     margin-right: 10px; */
/*     width: 20px; */
/*     height: 49px; */
/*     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); */
/*     opacity: 0.7; */
/*     -moz-transition: all 0.5s; */
/*     -o-transition: all 0.5s; */
/*     -webkit-transition: all 0.5s; */
/*     transition: all 0.5s; */
/* } */
/*  */
/* label.platform.tree-toggler.nav-header:before { */
/*       content: " "; */
/*     display: inline-block; */
/*     position: absolute; */
/*     background: transparent url("/img/line-stopG.jpg"); */
/*     /* margin-top: 0px; */ */
/*     /* margin-right: 10px; */ */
/*     width: 20px; */
/*     height: 54px; */
/*     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); */
/*     opacity: 0.7; */
/*     -moz-transition: all 0.5s; */
/*     -o-transition: all 0.5s; */
/*     /* -webkit-transition: all 0.5s; */ */
/*     /* transition: all 0.5s; */ */
/*     margin-left: -24px; */
/* } */
/*  */
/* label.instrument.tree-toggler.nav-header:before { */
/*    content: " "; */
/*     display: inline-block; */
/*     position: relative; */
/*     background: transparent url("/img/line-stop.jpg"); */
/*     margin-top: 0px; */
/*     margin-right: 10px; */
/*     width: 20px; */
/*     height: 54px; */
/*     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); */
/*     opacity: 0.7; */
/*     -moz-transition: all 0.5s; */
/*     -o-transition: all 0.5s; */
/*     -webkit-transition: all 0.5s; */
/*     transition: all 0.5s; */
/* } */
/*  */
/*  */
/* label.instrument.tree-toggler.nav-header > ul > li > a:before { */
/*     content: " "; */
/*     display: inline-block; */
/*     position: relative; */
/*     background: transparent url("/img/line-stopG.jpg"); */
/*     margin-top: 0px; */
/*     margin-right: 10px; */
/*     width: 20px; */
/*     height: 54px; */
/*     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); */
/*     opacity: 0.7; */
/*     -moz-transition: all 0.5s; */
/*     -o-transition: all 0.5s; */
/*     -webkit-transition: all 0.5s; */
/*     transition: all 0.5s; */
/* } */

